<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ page.title }} | {{ site.title }}</title>
<meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ page.image }}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta name="robots" content="{{ page.metatags }}">
<link rel="stylesheet" href="/stylesheet.css">
{% assign posts=site.posts | where:"ref", page.ref %}
{% for post in posts %}
<link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url | absolute_url }}" />
{% endfor %}
{% assign pages=site.pages | where:"ref", page.ref %}
{% for page in pages %}
<link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url | absolute_url }}" />
{% endfor %}
</head>

<body>
<div class="section group">
<div class="col span_3_of_3">
<div class="header"><p class="logo">Platz nehmen</p></div>
<h1>{{ page.title }}</h1>
</div>
</div>
<div class="section group">
<div class="col span_3_of_3">
{{ content }}
</div>
</div>
</div>
<div class="section group">
  <div class="navi">
  <div class="col span_3_of_3">
    {% for menu in site.t[page.lang] %}
    <p><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></p>
  {% endfor %}
  <div class="lang">
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}
  <p>
    <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
  </p>
{% endfor %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
  <p>
    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
  </p>
{% endfor %}
</div>
</div>
</div>
</div>
</body>
</html>
