<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>{{ page.title }} | {{ site.title }}</title>
<meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta name="robots" content="{{ page.metatags }}">
<link rel="stylesheet" href="/stylesheet.css">
{% assign posts=site.posts | where:"ref", page.ref %}
{% for post in posts %}
<link rel="alternate" hreflang="{{ post.lang }}" href="{{ post.url | absolute_url }}" />
{% endfor %}
{% assign pages=site.pages | where:"ref", page.ref %}
{% for page in pages %}
<link rel="alternate" hreflang="{{ page.lang }}" href="{{ page.url | absolute_url }}" />
{% endfor %}
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//feministclickback.org/analytics/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
</head>

<body>
<div class="section group body">
<div class="col span_3_of_3">
<h1>{{ page.title }}</h1>
{{ content }}
</div>
</div>
</div>
<div class="section group">
  <div class="navi">
  <div class="col span_3_of_3">
    <p><a href="/">feministclickback</a></p>
    {% for menu in site.t[page.lang] %}
    <p><a href="{{ menu[1].url }}">{{ menu[1].name }}</a></p>
  {% endfor %}
  <div class="lang">
{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
{% for post in posts %}
  <p>
    <a href="{{ post.url }}" class="{{ post.lang }}">{{ post.lang }}</a>
  </p>
{% endfor %}
{% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% for page in pages %}
  <p>
    <a href="{{ page.url }}" class="{{ page.lang }}">{{ page.lang }}</a>
  </p>
{% endfor %}
</div>
</div>
</div>
</div>
</body>
</html>
